<template>
  <v-layout class="date" justify-center>
    <v-form ref="infoForm" lazy-validation>
      <v-text-field
        ref="nameField"
        :counter="20"
        label="Name/Company"
        :rules="[v => !!v || 'Field is required']"
        required
        :value=value.name
        @input="updateDate()"
        @blur="updateDate()"
      ></v-text-field>
      <v-text-field
        ref="addressField"
        :counter="200"
        label="Address"
        :rules="[v => !!v || 'Field is required']"
        required
        :value=value.address
        @input="updateDate()"
        @blur="updateDate()"
      ></v-text-field>
      <v-text-field
        ref="phoneField"
        label="Phone"
        :rules="[v => !!v || 'Field is required']"
        required
        :value=value.phone
        @input="updateDate()"
        @blur="updateDate()"
      ></v-text-field>
    </v-form>
  </v-layout>
</template>
<script>
export default {
  name: 'Form',
  props: {
    value: {
      type: Object,
    }
  },
  methods: {
    updateDate() {
      this.$emit('input', {
        name: this.$refs.nameField.internalValue,
        address: this.$refs.addressField.internalValue,
        phone: this.$refs.phoneField.internalValue,
      })
      this.snackbar = this.$refs.infoForm.validate()
      this.$emit('valid', this.snackbar)
    }
  }
}
</script>
