<template>
  <div>
    <v-snackbar
      v-model="errorShown"
      :bottom=true
      :multi-line=true
      :timeout=5000
      :top=true
      >
      An error occurred and was reported. Sorry for the inconvenience!
      <v-btn
        dark
        text
        @click="errorShown = false"
        >
        Close
      </v-btn>
    </v-snackbar>
      <v-slide-y-transition>
        <div v-show='finished' class="finishText display-4 text-center"> Thank you !!! </div>
      </v-slide-y-transition>
      <v-stepper v-show='!finished' v-model="e1">
        <v-stepper-header>
          <v-stepper-step :complete="e1 > 1" step="1"> Data </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="e1 > 2" step="2"> Time </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="3"> Contact </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-layout wrap class="date" justify-center>
              <v-date-picker :full-width="true" v-model="date"></v-date-picker>
            </v-layout>

            <v-btn
              color="primary"
              @click="e1 = 2"
              >
              Continue
            </v-btn>

              <v-btn text>Cancel</v-btn>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-layout column align-stretch>
              <v-time-picker
                v-model="time"
                full-width
                :landscape="$vuetify.breakpoint.mdAndUp"
                type="month"
                class="mt-4 picker"
                ></v-time-picker>
            </v-layout>

            <v-btn
              color="primary"
              @click="e1 = 3"
              >
              Continue
            </v-btn>

              <v-btn text
                     @click="e1 = 1"
                     >
                     Previous
              </v-btn>
          </v-stepper-content>

          <v-stepper-content step="3">
            <Form ref="personalInfo" v-model="info" @valid="valid" />

              <v-btn
                color="primary"
                :disabled="!buttonEnable"
                @click="schedule"
                >
                {{ buttonText }}
              </v-btn>

                <v-btn text
                       @click="e1 = 2"
                       >
                       Previous
                </v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
  </div>
</template>
<script>
import axios from 'axios'
import Form from '@/components/Form'

export default {
  name: 'Stepper',
  components: {
    Form,
  },
  data: () => ({
    e1: 0,
    date: new Date().toISOString().substr(0, 10),
    time: '12:30',
    info: {
      name: "",
      address: "",
      phone: "",
    },
    buttonEnable: false,
    finished: false,
    errorShown: false,
    buttonText: 'Schedule'
  }),
  methods: {
    schedule: function () {
      this.buttonEnable = false
      axios.post('/add',
        {
          name: this.info.name,
          address: this.info.address,
          phone: this.info.phone,
          time: this.time,
          date: this.date,
        },
      ).then(this.successSent).catch(this.failSent)
    },
    valid: function (v) {
      this.buttonEnable = v
    },
    successSent: function () {
      this.finished = true;
    },
    failSent: function () {
      this.buttonEnable = false
      this.buttonText = 'Try again'
      this.errorShown = true;
    }
  },
}
</script>
<style scoped>
  .finishText {
    margin-top: 50px;
  }
</style>
