<template>
  <v-app id="app">
    <Stepper />
  </v-app>
</template>

<script>
import Stepper from '@/components/Stepper';

export default {
  name: 'App',
  components: {
    Stepper,
  }
};
</script>
<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
